* {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#Paginator {
  border: outset;
}

#PaginatorBox {
  width: fit-content;
  align-content: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.PopOut {
  border: outset;
  border-color: white;
  border-width: 0.5%;
  outline: outset;
  outline-color: black;
  outline-width: 0.5%;
  z-index: 4;
}

.btn:hover {
  background-color: white;
}


/* a:hover {
  background-color: white;
  font-size: 18px;
} */

#Portrait {
  width: 25vw;
  margin-left: 12.5vw;
}

#ProjectImg {
  width:90%;
  margin:auto;
}

#BigProjectImg {
  width: 50%;
  margin: auto;
}

.InSink {
  position: relative;
  left: 0.75%;
  top: 1%;
  outline: inset;
  outline-width: auto;
  outline-color: white;
  border: inset;
  border-width: 0.5%;
  border-color: black;
  width: 98%;
  z-index: 3;
}


.Home {
  background-color: #000000;
  z-index: -1;
}

.Background {
  background-image: image-set('./assets/background.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left:0;
  top:0;
  z-index: 0;
}


.Headline {
  font-family: 'MapleMonoItalic';
  text-align: center;
  padding: 5%;
}

.TextContents {
  font-family: 'MapleMonoItalic';
  word-wrap: break-word;
  padding: 5%;
}

.TextPage {
  position: relative;
  width: 50%;
  min-height: 100vh;
  background-color: #E7CFB1;
  margin-left: 25%;
  margin-top: 5%;
  z-index: 1;
  padding-bottom: 2%;
}

@font-face {
  font-family: 'MapleMono';
  src: local('MapleMono'), url(./assets/MapleMono[wght]-VF.woff2) format('woff2');  
}

@font-face {
  font-family: 'MapleMonoItalic';
  src: local('MapleMonoItalic'), url(./assets/MapleMono-Italic[wght]-VF.woff2) format('woff2');  
}



